@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Nunito";
  src:local("Nunito-Regular"),
  url('./assets/fonts/Nunito/Nunito-Regular.ttf') 
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.custom-header {
  background-color: #faf4c9;
}