@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Nunito";
  src:local("Nunito-Regular"),
  url('./assets/fonts/Nunito/Nunito-Regular.ttf') 
}

html, body, #root {
  height: 100%;
  width: 100%;
}

@media print {
  @page {
    size: A3 landscape; /* ตั้งค่ากระดาษ A3 แนวนอน */
    margin: 10mm; 
  }

  .print-a3 {
    width: 100%;
    font-size: 5px; 
  }

  table {
    page-break-inside: auto;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  tr {
    page-break-inside: avoid;
  }
}
